

<div style="text-align:left"><p>All works submitted must be the Artist’s original work. Anyone submitting works
     for consideration represent that they are the creators of the works submitted, 
     own the rights or have the authority to enter the works for consideration.</p>
<ul style="list-style-type:square">
<li><p>Enter as many submissions as you wish. Submission or entry is free.</p></li>
<li><p>	Opened only to Northern based Artists </p></li>
<li><p> You song(s) must have been published in any of the major music blogs in the country.</p></li>
<li><p> Music Genre submissions can be audio recordings only without having a visual counterpart.</p></li>
<li><p> All entries are online only. It is artist’s responsibility to ensure functionality of links and/or web portals where material is hosted.</p></li>
<li><p>Abuja Pop Music Awards, while accepting entries throughout the year, reserves the right to open and/or close submission deadline(s).</p></li>
<li><p> If possible, materials entered should be no more than 10 minutes in length. Edited clips that best represent music supporting visuals are acceptable.</p></li>
<li><p> Music will be evaluated based on melody, composition, lyric (when applicable) and music-to-picture enhancement. Quality of performance and production will also be considered.</p></li>
<li><p> The APMA’s reserve the right to re-categorize entries and/or combine categories at its discretion. </p></li>
<li><p>Nominations will be announced throughout the season as they are selected and Winners will be announced only at the Main Event in November and online thereafter. </p></li>
</ul></div>