
 <!-- views/partials/header.ejs -->


<header>
        <div id="banner">
        <div class="container-fluid">
        <div class="page-header" style="background-color:black" >
        <div class="row ">
        <div class="col-4 " style="margin-top:1em"> <h1>
         <a> <img src="/images/logonew.png" class="img-fluid responsive" alt="logo"></a>
                       
        </h1>
        
        </div>
        <div class="col-2" style="margin-top:2em">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
              (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "ca-pub-8930960923743685",
                enable_page_level_ads: true
              });
            </script>
        
        </div>
        

        <div class="col-4 blinktext">
       <div class="row">
        <h6 class="blink"><a href="/pages/sponsor" style="text-decoration:none; color:gold"> <i class="fa fa-hand-o-right fa-lg "></i> 
          Become a SPONSOR</a> </h6>

        </div> 
        </div>
        <div class="col-2">
          <div class="row">
            <div class="" style="margin-top:2em;">
              <p>
              <a href="https://www.facebook.com/AbujaPopMusicAward" target="_blank" style="text-decoration:none;">
                 <i class="fa fa-facebook fa-lg m-2" ></i>
               </a>
               <a href="https://www.instagram.com/abujapopmusicawards" target="_blank" style="text-decoration:none;">
               
               <i class="fa fa-instagram fa-lg m-2" ></i>
               </a>
               <a href="https://twitter.com/AbujaPop" style="text-decoration:none;" target="_blank">
                 <i class="fa fa-twitter fa-lg m-2" ></i>
             </a>
             <a href="/pages/contact" target="_blank" style="text-decoration:none;">
              
             <i class="fa fa-envelope-o fa-lg m-2" ></i>
             </a>
              </p>
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>
        </div>
        
        </header>
         