



<div style="text-align:left; word-spacing: normal"><p>Nominations must be made via APMA website <a href="https://www.theapma.com/">www.theapma.com</a>. Incomplete nominations may be considered ineligible and late nominations will not be accepted there are no exceptions.</p>
    <p style="word-spacing:normal">We strongly recommend that you read all available information about the category prior to nominating as this will help you answer the questions.</p>
    <p>Everything you need to know is contained in the nomination form as well as this document.</p>
    </div>