<!-- views/partials/nondoc.ejs -->


<div>
<p style="text-align: justify">Nominations must be made via APMA website www.abujapopmusicawards.com. 
Incomplete nominations may be considered ineligible and late nominations will not be accepted – 
there are no exceptions.</p>
<p style="text-align: justify">We strongly recommend that you read all available information about the category prior to nominating as this will help you answer the questions.</p>
<p style="text-align: justify">Everything you need to know is contained in the nomination form as well as this document.</p>
</div>