<!doctype html>
<html lang="en">

  <head>
    <% include ./partials/head %>
    <title>Nominee Form</title>
</head>

<body>
<header>
    <% include ./partials/header %>

                  
<p id="static" >  <img class="img-fluid" src="/images/banner.jpg" alt="Second slide" style="width:100%">
</p>
</header>
<div><% include ./partials/nav %></div>

<div class="container" id="">
  <div class="row justify-content-center align-content-center">

    <div class="col-xs-6 col-8" style="margin-top:2em">
    <fieldset class="scheduler-border">
        <legend class="scheduler-border">About Us </legend>
         <p class="legend"> APMA is a music awards event that recognizes and
              honors excellence in music supervision in Abuja
               and the Northern region. Iconic artists are presented 
               with Outstanding Career Achievement honors for their
                accomplishments and longevity in the industry. 
                The awards event features live music performances,
                 celebrity appearances, award presentations, 
                 an exclusive VIP reception and gourmet dinner banquet. 
                 The entire event is shot with multiple HD 
                 cameras for digital and cable broadcasts.</p>
         
    </fieldset>
</div>
<div class="w-100"></div>

<div class="col-xs-6 col-8" style="margin-top:2em">
        <fieldset class="scheduler-border">
            <legend class="scheduler-border">Vision Statement </legend>
             <p class="legend">
                    APMA will become the best music award platform in building,
                     developing, recognizing and expanding the Pop Music community
                      in Abuja, Northern Region and beyond.
                    </p>
             
        </fieldset>
    </div>

    <div class="w-100"></div>
    
    <div class="col-xs-6 col-8" style="margin-top:2em">
            <fieldset class="scheduler-border">
                <legend class="scheduler-border">Mission Statement </legend>
                 <p class="legend">
                        We want to devote ourselves to celebrate the musical 
                        variety of Pop culture by honoring the recording artists, 
                        musicians and other key actors in the music industry exclusively 
                        in the northern region of Nigeria and by so doing, raise massive 
                        public awareness for the betterment of the industry and the National 
                        unity through the instrumentality of pop music celebration.
                       
                        </p>
                 
            </fieldset>
        </div>

        <div class="w-100"></div>
        
        <div class="col-xs-6 col-8" style="margin-top:2em">
                <fieldset class="scheduler-border">
                    <legend class="scheduler-border">Our aims and objectives</legend>
                     <p>
                         <ul class="ullegend">
                             <li  style="margin-top:1em; margin-bottom:1em">
                            Promote and sustain music works through APMA platform.
                                 
                             </li>
                             <li style="margin-top:1em; margin-bottom:1em">
                             Assemble, showcase and connect the rich and diverse rhythms of Pop music Culture from Abuja and Northern Nigeria to different peoples of the world with a view to opening the music industry here for investment.
                            
                             </li>
                             <li style="margin-top:1em; margin-bottom:1em">
                             Promote and market music talents from and within Abuja and the northern Nigeria at large to create value and open wider market opportunities for Pop music artistes, producers, promoters and others in the industry here who are yet to be spotlighted.
                                  
                             </li>
                             <li style="margin-top:1em; margin-bottom:1em">
                             Reposition and reward musical works in Abuja and the music industries across the northern region.
                                  
                             </li>
                         </ul>
                              </p>
                     
                </fieldset>
            </div>
</div>
<div style="margin-top:4em;">
        <% include ./partials/footer %>
    </div>
</div>
</body>
</html>