<!doctype html>
<html lang="en">
  <head>
        <% include ./partials/head %>
    </head>

    <body>
    <header>
        <% include ./partials/header %>

                      
<p id="static" >  <img class="img-fluid" src="/images/banner.jpg" alt="Second slide" style="width:100%">
</p>
    </header>
    <div><% include ./partials/nav %></div>
    <div class="jumbotron nomdiv">
        <div class="row justify-content-center ">
            <div class="col-sm-8 ">
              <h5> Nominees according to Categories</h5>
               
              <% for (let y=0; y < category.length; y++)  {%>
                <ul class="list-group">
                  <li class="list-group-item nomlist">
                  <p style="font-weight: bold;margin-top:-0.2em; margin-bottom:-0.2em">  </p>
                   <div class="row">
                   <div class="col"><strong>Category: </strong> <%=category[y].categoryName%></div>
                   </div>
                    </li>
                     <%} %> 
            </div>
         
            </div>
            
        </div>
      
    <div style="margin-top:4em;">
        <% include ./partials/footer %>
    </div>

    </body>
    </html>
