<!doctype html>
<html lang="en">
  <head>
        <% include ./partials/head %>
        <title>Nominee Form</title>
    </head>

    <body>
    <header>
        <% include ./partials/header %>
    </header>
    <div><% include ./partials/nav %></div>
    <div class="container" id="formdiv">
      <div class="row justify-content-center align-content-center">
            <%= typeof msg != 'undefined' ? msg: ' ' %>
            <%- messages('message', locals) %>
         
           <div class="col-8" id="formtext">
                        <div class="row" id="row1">
                    <h6>How to nominate</h6>
                  <p>
                    <% include ./partials/nomdoc %>
                  </p> 
                
                </div>
                  <div class="row" id="row1">
                      <h6>Policies and Guidelines</h6>
                  <p> <% include ./partials/guidelines %></p>
                  </div>
                
                  </div>
              <div class="w-100"></div>
              <div class="col-3">
                  <div class="row" style="text-transform:initial; font-weight:bold; margin-top:1em;">
                  <!-- Button trigger modal -->
                  <p><small>Click button below to fill form</small></p>
                <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#myModal">
                    Nomination form
                  </button>
                  </div>
  
               </div>
    </div>
    <div class="row">
    <div class="col-xs-12" >
    <!--modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
          
             <div class="modal-header justify-content-center align-items-center">
               
                 <h6 class="modal-title"> Entry form</h6>
                    <button type="button" class="close"  data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                       </button>
                    
               </div>
               <form action="/users/form" method="POST">
                   
               <div class="modal-body">
                   <div class="form-row">
                       <div class="form-group col-md-6">
                           <input type="text" class="form-control " name="fname" id="fname" placeholder="Firstname" data-toggle="tooltip" title="Enter firstname" required>
                           
                       </div>
                       <div class="form-group col-md-6">
                          <input type="text" class="form-control" id="surname" name="surname" placeholder="Surname" data-toggle="tooltip" title="Enter surname" required>
                           
                       </div>
                     
                     </div>
                     <div class="form-row">
                         <div class="form-group col-md-6">
                             <input type="text" class="form-control" id="stagename"
                              name="stagename" placeholder="Stagename"
                               data-toggle="tooltip" title="Enter stagename"/>
                             
                         </div>
                         <div class="form-group col-md-6">
                            <input type="text" class="form-control" id="recordlabel"
                             name="recordlabel" placeholder="Recordlabel" 
                             data-toggle="tooltip" title="Enter record label"/>
                             
                         </div>
                       
                       </div>
                      
                 <div class="form-row">
                   <div class="form-group col-md-6">
                     <input type="tel" class="form-control" id="phone" 
                     name="phone" placeholder="080-0000-0000" data-toggle="tooltip"
                      title="Enter phone no." pattern="[+]{1}[0-9]{3}[1-9]{3}[0-9]{4}[0-9]{3}" 
                      required/>
                   
                   </div>
                   <div class="form-group col-md-6">
                       <input type="text" class="form-control"
                        id="phone2" name="what" placeholder="+234-800-0000-000" data-toggle="tooltip"
                        title="Enter Whatsapp no." pattern="[+]{1}[0-9]{3}[1-9]{3}[0-9]{4}[0-9]{3}"
                        required/>
                   </div>
                 
                 </div>
                 <div class="form-row">
                   <div class="form-group col-md-6">
                      <textarea class="form-control" id="address" name="address" 
                      rows="3" placeholder="type your address here"></textarea>
                   
                   </div>
                   <div class="form-group col-md-6">
                       <input type="email" class="form-control" id="email" name="email" 
                       placeholder="validemail@place.com" data-toggle="tooltip" 
                       title="Enter email address" required/>
                       
                   </div>
                 
                 </div>
                 <div class="form-row">
                     <div class="form-group col-md-6">
                        
                         <input type="text" class="form-control" id="state" 
                         name="state" placeholder="State of residence" 
                         data-toggle="tooltip" title="Enter state of residence" required/>
                         
                      </div>
                     <div class="form-group col-md-6">
                         <input type="text" class="form-control"
                          id="country" name="country" placeholder="Country"
                          data-toggle="tooltip" title="Enter country" required/>
                         
                     </div>
                   
                   </div>
                   <div class="form-row">
                       <div class="form-group col-md-6">
                         <input type="text" class="form-control"
                          id="albumtitle" name="albumtitle" placeholder="Album Title"
                           data-toggle="tooltip" title="Enter Album Title" required/>
                       </div>
                       <div class="form-group col-md-6">
                           <input type="text" class="form-control" 
                           id="producer" name="producer" placeholder="Producer" 
                           data-toggle="tooltip" title="Enter Producer name" required/>
                           
                       </div>
                       </div>
                       <div class="form-row">
                           <div class="form-group col-md-6">
                             <input type="text" class="form-control" 
                             id="tracktitle" name="tracktitle"
                              placeholder="Track Title" data-toggle="tooltip"
                               title="Enter Track title" required/>
                           </div>
                           <div class="form-group col-md-6">
                               <input type="text" class="form-control"
                                id="songwriter" name="songwriter"
                                 placeholder="Songwriter" data-toggle="tooltip" 
                                 title="Enter Songwriter" required/>
                               
                           </div>
                           </div>
                        
                                 
                 <div class="form-row">
                      
                     <div class="form-group col-md-6" style="margin-top:-1em;color:black"> 
                         <select id="category" name="category" class="form-control">
                             
                         <% for (let a=0; a< category.length; a++) {%>
                              <option value="<%= category[a].categoryName %>"> <%= category[a].categoryName %></option>
                             <% }%>
                         </select>
                    
                         </div>
                         <div class="form-group col-md-6">
                             <input type="text" class="form-control" id="othercategory"
                              name="othercategory"  placeholder="Other Category" 
                              data-toggle="tooltip" title="Enter other category" require/d>
                         </div>
                    
                 </div>
                     <div class="form-row">
                        
                         <div class="form-group col-md-4">
                             <input type="text" class="form-control" id="fb"
                              name="fb" placeholder="Facebook" data-toggle="tooltip"
                               title="Enter facebook handle" required/>
                             
                         </div>
                         <div class="form-group col-md-4">
                             <input type="text" class="form-control"
                              id="insta" name="insta" placeholder="Instagram" 
                              data-toggle="tooltip" title="Enter instagram handle" required/>
                             
                         </div>
                         <div class="form-group col-md-4">
                             <input type="text" class="form-control"
                              id="twit" name="twit" placeholder="Twitter"
                              data-toggle="tooltip" title="Enter twitter handle" required/>
                           </div>
                         </div>
                                             
                        <div class="form-group">
                           <label for="songs" class="songs">Songs(audio/video URL)</label>
                           <textarea class="form-control" id="songs" 
                           name="songs" rows="3"
                            placeholder="type the links to the songs or videos you have preceded by commas"></textarea>
                         </div>

                 </div>
               <div class="modal-footer">
                 <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                 <button type="submit" class="btn btn-primary">Submit entry</button>
               </div>
               </form>
                </div>

          </div>
            </div><!--myModal-->
    </div>
    </div>
    

    <div style="margin-top:4em;">
        <% include ./partials/footer %>
    </div>


    <script>
            $('#myModal').on('shown.bs.modal', function () {
                $('#myInput').trigger('focus')
              })
    
          </script>  
   
      
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    
</div> <!--formdiv-->
</body>
</html>